@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-jetbrains-mono);
  --text-xxs: 12px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #070707;
    --foreground: #ededed;
    --muted: #52525c;
    --muted-foreground: #d4d4d8;
    --primary: #00d491;
    --secondary: hsl(245, 100%, 100%);
    --accent: #00bc7d;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-noise {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  opacity: 0.03;
}
.dot-grid {
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.08) 1px,
    transparent 0
  );
  background-size: 24px 24px;
}
@keyframes drift {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(20px, 20px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.animate-drift {
  animation: drift 15s ease-in-out infinite;
}
.typing-cursor::after {
  content: "_";
  animation: blink 1s step-end infinite;
  margin-left: 2px;
  color: #10b981;
}
@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
