@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --muted: #f4f4f5;
  --muted-foreground: #52525c;
  --primary: #00d491;
  --secondary: hsl(245, 100%, 97%);
  --accent: #00bc7d;

  --taltech: #e4067e;
  --lapikud: #f0941d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #070707;
    --foreground: #ededed;
    --muted: #52525c;
    --muted-foreground: #d4d4d8;
    --primary: #00d491;
    --secondary: hsl(245, 100%, 100%);
    --accent: #00bc7d;
    --taltech: #e4067e;
    --lapikud: #f0941d;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-taltech: var(--taltech);
  --color-lapikud: var(--lapikud);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-jetbrains-mono);
  --text-xxs: 12px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.animate-fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}
.typing-cursor::after {
  content: "_";
  animation: blink 1s step-end infinite;
  margin-left: 2px;
  color: #10b981;
}
@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.tw {
  &[data-tw-style="bold"] {
    @apply font-bold;
  }
  &[data-tw-style="underline"] {
    @apply underline underline-offset-2;
  }

  &[data-tw-last-child="true"]::after {
    content: "_";
    color: var(--accent);
    animation: blink 1s step-end infinite;
  }
  &[data-tw-last-child="true"][data-tw-style="underline"]::after {
    content: "";
    color: var(--accent);
    animation: blink 1s step-end infinite;
  }
  &[data-tw-last-child="true"][data-tw-no-blink="true"]::after {
    content: "";
  }
}
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
