.resume-page {
  max-width: 72rem;
  margin: 0 auto;
  padding: 5rem 1.5rem 0;
  min-height: 90vh;
}

.language-selector {
  min-height: 80vh;
  max-width: 56rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
}

.lang-card {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 180px;

  border-radius: 8px;
  border: 1px solid #262626;

  text-decoration: none;
  color: inherit;

  transition: background 400ms ease;
}

.estonia {
  background: linear-gradient(
    to bottom,
    #0072ce 0%,
    #0072ce 33%,
    #000000 33%,
    #000000 66%,
    #ffffff 66%,
    #ffffff 100%
  );
}

.england {
  background-color: white;
  background-image:
    linear-gradient(
      to right,
      transparent 40%,
      #c8102e 40%,
      #c8102e 60%,
      transparent 60%
    ),
    linear-gradient(
      to bottom,
      transparent 40%,
      #c8102e 40%,
      #c8102e 60%,
      transparent 60%
    );
}

@media (min-width: 1024px) {
  .estonia,
  .england {
    background: none;
  }

  .estonia:hover {
    background: linear-gradient(
      to bottom,
      #0072ce 0%,
      #0072ce 33%,
      #000000 33%,
      #000000 66%,
      #ffffff 66%,
      #ffffff 100%
    );
  }

  .england:hover {
    background-color: white;
    background-image:
      linear-gradient(
        to right,
        transparent 40%,
        #c8102e 40%,
        #c8102e 60%,
        transparent 60%
      ),
      linear-gradient(
        to bottom,
        transparent 35%,
        #c8102e 35%,
        #c8102e 65%,
        transparent 65%
      );
  }
}
